BasedOnStyle: Google
ColumnLimit: 90
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlignEscapedNewlines: DontAlign
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
PenaltyBreakBeforeFirstCallParameter: 0
AlignTrailingComments: false
